ul {
	margin: 100px auto 0;
	list-style: none;
	width: 700px;
	font: 30px helvetica;
	font-weight: 200;
}

.main-container {
  //background-color: #FF0088;
  width: 100px;
  margin: auto;
  img {
    height: 80px;
    margin-top: 50px;
  }
}

