<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Messages{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <!-- build:css css/test.css -->
  <link rel="stylesheet" type="text/css" href="css/test.css">
  <!-- endbuild -->
</head>
<body>
  <section id="content">
    {% block content %}
      <p>Forgot to add content?</p>
    {% endblock %}
  </section>
  <div id="test1">
    <a href="#">123333</a>
    <img src="img/0DE2F9E86F68688DB3E9C10C11F6FB08.jpg" alt=""/>
  </div>
</body>
<script src="js/scrollReveal.min.js"></script>
</html>
